#calculator {
  display: none;
}

.calculator-inner {
  width: 100%;
  height: 100%;
}
.calculator-area {
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;

  box-shadow: 0 0 6px rgba(0,0,0, .3);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color :var(--color-box);
}


/* 윗 부분 */
.calculator__top {
  margin-bottom: 20px;
}
.calculator__top h2 {
  color: var(--colot-font-basic);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 18px;
}
.calculator__top .display-result {
  max-width: 232px;
  text-align: right;
  padding: 0 10px;
}

/* 입력창 */
.calculator__top .display-result .input-num {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: var(--colot-font-basic);
  margin-bottom: 4px;
  overflow: hidden;
}
.result {
  font-size: 30px;
  color: var(--colot-font-basic);
}










/* 아래 부분 */
.calculator__bottom .button__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.calculator__bottom .button__row button {
  width: 46px;
  aspect-ratio: 1/1;
  margin: 6px;

  border-radius: 50%;
  font-size: 17px;
  color: var(--colot-font-basic);
  box-shadow: var(--color-btn-hover-shadow);

}

.calculator__bottom .button__row button:hover {
  border: 2px solid var(--color-btn-hover);
}


.button__row button.zero {
  /* margin값 제외 */
  width: calc(100% - 12px);
  aspect-ratio: inherit;
  border-radius: 30px;
  grid-column: 1/3;
}

button.operator {
  color: var(--color-btn-font-active) !important;
  background-color: var(--colot-font-basic);
}
button.bg-grey {
  background-color: var(--color-bg-grey);
}

