@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* 라이트, 다크모드 */
:root[color-theme='light'] {
  --color-main : #251D53;
  --color-box : #fff;
  --colot-font-basic : #251D53;
  --color-wrap : #ffffff2d;
  --color-wrap-border : #ffffff8d;
  --color-btn-hover : #eee;
  --color-box-inactive : #aaa;
  --color-box-hover : #eee;

  --bg-img : url("../img/bg.png") no-repeat center;
  --box-shadow : inset 0 0 18px rgba(255, 255, 255, .8);
  --active-svg : url('../img/menu-active-light.svg') 100% no-repeat;

}

:root[color-theme='dark'] {
  --color-main : #1e1f21;
  --color-box : #272829;
  --colot-font-basic : #f3f3f3;
  --color-wrap : #1e1f21;
  --color-wrap-border : #313334;
  --color-btn-hover : #1e1f21;
  --color-box-inactive : #555;
  --color-box-hover : #313334;


  --bg-img : url("../img/bg-dark.png") no-repeat center;
  --box-shadow : inset 0 0 18px rgba(255, 255, 255, 0);
  --active-svg : url('../img/menu-active-dark.svg') 100% no-repeat;

}



* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  --color-purple : #251D53;
  --color-white : #fff;
  --color-font : #333;
  --color-border : #eee;
}


a { display: inline-block; }
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input { border: none; }
input:focus { outline: none; }

.material-symbols-outlined {
  font-size: 20px;
}

.tit {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}








/* 페이지 시작 */
body {
  height: 100vh;
  position: relative;
  background: var(--bg-img);
  background-size: cover;
}


/* 팝업 */
#popup {
  width: 100vw;
  height: 100vh;
  background-color: #0000008d;
  position: fixed;
  z-index: 999;
}

.popup-area {
  width: 560px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--color-main);
  padding: 14px;

}

.popup-area span {
  text-align: center;
  line-height: 25px;
}
.popup-area span.btn {
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 9px;
}
.popup-area span.btn:hover {
  background-color: var(--color-main);
  color: #fff;
}





#wrap {
  width: 1080px;
  height: 600px;
  padding: 20px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-wrap-border);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background-color: var(--color-wrap);
}


header {
  width: 160px;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

main {
  width: calc(100% - 180px - 320px);
  height: 100%;
  border-radius: 20px;
  position: relative;
  background-color: var(--color-box);
}

main article {
  width: 100%;
  height: 100%;
}


aside {
  width: 300px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

/* 메뉴 */
nav {
  flex-grow: 1;
}
.menu {
  width: 100%;
  margin-top: 20px;
}
.menu li {
  margin-right: 15px;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu li.active {
  position: relative;
}
.menu li.active::after {
  display: block;
  content: '';
  width: 80px;
  height: 100%;
  position: absolute;
  right: -92px;
  top: 0;
  background: var(--active-svg);
}

.menu li a {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  opacity: .6;
  display: flex;
  align-items: center;
}

.menu li.active a {
  opacity: 1;
  background: var(--color-box);
  border-radius: 24px;
}

.menu li a span {
  font-size: 14px;
  color : var(--colot-font-basic);
}
.menu li a span:nth-of-type(1) {
  font-size: 18px;
  margin: 0 10px 0 6px;
}


.mode-container {
  width: 100px;
  height: 57px;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-box);
  border: 1px solid var(--color-btn-hover);
  position: relative;
  z-index: 1;
}
.mode-container button {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-container button.active {
  /* background-color: #aaa; */
}

.mode-container button span {
  color: var(--colot-font-basic);
}






.mode-container::after {
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 30px;

  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);

  background-color: var(--color-box-hover);
}



/* 라이트, 다크 모드 애니메이션 */
.mode-container.change-dark::after {
  animation:
  mode-change-dark .5s linear alternate forwards;
  left: auto;
}
.mode-container.change-light::after {
  animation:
  mode-change-light .5s linear alternate forwards;
}

@keyframes mode-change-dark {
  0% {
    width: 44px;
    height: 44px;
    border-radius: 30px;
    left: 6px;
  }
  50% {
    width: 86px;
  }
  100% {
    width: 44px;
    right: 6px;
  }
}


@keyframes mode-change-light {
  0% {
    width: 44px;
    height: 44px;
    border-radius: 30px;
    right: 6px;
  }
  50% {
    width: 86px;
  }
  100% {
    width: 44px;
    left: 6px;
  }
}