#todoList {
  width: 400px;
  max-height: 510px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;

  box-shadow: 0 0 10px rgba(0,0,0, .3);

}

/* TOP */
.todoList--top {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: var(--color-blue);
}

h2.tit {
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.input-area {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-area input {
  width: 320px;
  height: 30px;
  padding-left: 5px;
  background-color: transparent;
  color: #fff;
  border-bottom: solid #eee 1px;
}
input::placeholder {
  font-size: 14px;
  color: #fff;
  opacity: .4;
}
.input-area span {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: .2s linear;
}

.input-area span:hover {
  transform: rotate(90deg);
}


/* BOTTOM */
.todoList--bottom {
  width: 100%;
  min-height: 60px;
  margin: 15px 0;
  padding: 0 10px 0 20px;
  position: relative;
}

.list-items {
  max-height: 320px;
  margin-bottom: 20px;
  padding-right: 6px;
  overflow: overlay;
}

/* 스크롤바 */
.list-items::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #eee;
}
.list-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}


.list-items li.list-item {
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 5px 10px;
}
.list-items li.list-item:hover {
  background-color: #eee;
}

li.list-item span.input-value {
  width: 330px;
  font-size: 15px;
}

span.input-value.off {
  color: var(--color-blue);
  opacity: .4;
  text-decoration: line-through;
}
li.list-item span:nth-child(2):hover {
  color: var(--color-blue);
  font-weight: bold;
}


.all-delete {
  width: 78px;
  height: 33px;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  background-color: var(--color-blue);
}
.all-delete:hover {
  color: #fff;
  background-color: #333;
}